<html>
<head>
    <title>Partofa</title>
    <!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-uk-UA.min.js"></script>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li id="home"><a class="btn" href="/private/page/home">Головна таблиця</a></li>
                <li id="myPage"><a class="btn" href="private/me">Моя сторінка</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="logout"><a href="/logout">Вийти</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#user" role="tab" data-toggle="tab">Користувачі</a></li>
        <li role="presentation"><a href="#regions" role="tab" data-toggle="tab">Регіони</a></li>
    </ul>


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="user">
            <div id="toolbar">
                <button id="addUser" onclick="" class="btn btn-primary " data-toggle="modal"
                        data-target="#userAddModal">Додати користувача
                </button>
                <button id="editUser" onclick="" class="btn btn-default" data-toggle="modal"
                        data-target="#editUserModal" disabled="disabled">Редагувати
                </button>
                <button id="deleteUser" onclick="" class="btn btn-default" disabled="disabled">Видалити користувача
                </button>
            </div>
            <table id="userTable" data-single-select="true" data-toggle="table" data-toolbar="#toolbar"
                   data-locale="uk-UA" data-pagination="true" data-url="/admin/users">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">
                    </th>
                    <th data-field="id" data-visible="false"></th>
                    <th data-sortable="true" data-field="firstName">Ім'я</th>
                    <th data-sortable="true" data-field="lastName">Прізвище</th>
                    <th data-sortable="true" data-field="region">Регіон</th>
                    <th data-sortable="true" data-field="email">Eлектрона пошта</th>
                    <th data-sortable="true" data-field="role">Роль</th>
                    <th data-sortable="true" data-field="status">Статус</th>
                </tr>
                </thead>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane active" id="regions">
            <div id="toolbar2">
                <button id="addRegion" onclick="" class="btn btn-primary" data-toggle="modal"
                        data-target="#addRegionModal">Додати регіон
                </button>
                <button id="deleteRegion" onclick="" class="btn btn-default" disabled="disabled">Видалити регіон
                </button>
            </div>
            <table id="regionTable" data-single-select="true" data-toggle="table" data-toolbar="#toolbar2"
                   data-locale="uk-UA" data-pagination="true" data-url="/regions">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id" data-visible="false" ></th>
                    <th data-sortable="true" data-field="name">Регіон</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="addRegionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додавання регіону</h4>
            </div>

            <div class="modal-body">
                <form id="createRegion">
                    <div class="form-group">
                        <label for="inputRegionName">Назва регіону</label>
                        <input type="text" class="form-control" id="inputRegionName" placeholder="Назва регіону"
                               required="required"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="addRegionSave" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додавання користувача</h4>
            </div>
            <div class="modal-body">
                <form id="createUser">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Електрона пошта</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Електрона пошта"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Ім'я</label>
                        <input class="form-control" id="firstName" placeholder="Ім'я" required="required"/>

                    </div>
                    <div class="form-group">
                        <label for="lastName">Прізвище</label>
                        <input class="form-control" id="lastName" placeholder="Прізвище" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword1">Підтвердіть пароль</label>
                        <input type="password" class="form-control" id="confirmPassword1"
                               placeholder="Підтвердіть пароль" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="role">Роль:</label>
                        <select class="form-control" id="role">
                            <option value="ROLE_USER">Оператор</option>
                            <option value="ROLE_ADMIN">Адмністратор</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="addUserSave" class="btn btn-primary">Створити</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редагування користувача</h4>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="form-group">
                        <label for="editEmail">Електрона пошта</label>
                        <input type="email" class="form-control" id="editEmail" placeholder="Електрона пошта"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">Ім'я</label>
                        <input class="form-control" id="editFirstName" placeholder="Ім'я" required="required"/>

                    </div>
                    <div class="form-group">
                        <label for="editLastName">Прізвище</label>
                        <input class="form-control" id="editLastName" placeholder="Прізвище" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editUserRegion">Регіон</label>
                        <select class="form-control" id="editUserRegion">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editRole">Роль:</label>
                        <select class="form-control" id="editRole">
                            <option value="ROLE_USER">Оператор</option>
                            <option value="ROLE_ADMIN">Адмністратор</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editIsEnabled">Статус:</label>
                        <select class="form-control" id="editIsEnabled">
                            <option value="true">Активний</option>
                            <option value="false">Заблокований</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="editUserSave" class="btn btn-primary">Редагувати</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script>

    var currentUserId;

    (function ($) {
        'use strict';
        $.ajax({
            type: 'get',
            url: 'private/user/is-authenticated',
            success: function (e) {
                currentUserId = e.id;
            }
        });
    })(jQuery);

    var regions;
    (function ($) {
        $.ajax({
           type : 'get',
            url : 'regions',
            success : function (e) {
               regions = e;
                console.log("regions: ");
                console.log(JSON.stringify(e));
                $.each(e, function(i, item){
                    $('#editUserRegion').append($('<option>', {
                        value: item.id,
                        text: item.name
                    }, '</option>'));
                })
                $('#editUserRegion').append($('<option>', {
                    value: "all",
                    text: "Усі регіони"
                }, '</option>'));

            }
        });
    })(jQuery);


    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


    function getIdSelections() {
        return $.map($('#userTable').bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function getIdSelectionsRegion() {
        return $.map($('#regionTable').bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }


    $("#deleteUser").click(function () {
        var ids = getIdSelections();

        $.ajax({
            type: "delete",
            url: "/delete/user" + '?' + $.param({"id": ids[0]}),
            success: function () {
                toastr["success"]("Користувача успішно видалено");
                $('#userTable').bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $("#deleteUser").prop('disabled', true);
            },
            error: function () {
                toastr["error"]("Неиожливо видалити цього користувача");
            }
        })

    });


    $('#userTable').on('uncheck.bs.table ' +
            ' uncheck-all.bs.table', function () {

        $("#deleteUser").prop('disabled', !$('#userTable').bootstrapTable('getSelections').length);
        $("#editUser").prop('disabled', !$('#userTable').bootstrapTable('getSelections').length);

        // save your data, here just save the current page
        selections = getIdSelections();
        // push or splice the selections if you want to save all data selections
    });

    $('#userTable').on('check.bs.table ' +
            'check-all.bs.table ', function () {

        selections = getIdSelections();
        $("#deleteUser").prop('disabled', true);
        $("#editUser").prop('disabled', true);
        var selectedRow = $('#userTable').bootstrapTable('getSelections')[0]
        if (currentUserId != selectedRow.id) {
            $("#deleteUser").prop('disabled', !$('#userTable').bootstrapTable('getSelections').length);
            $("#editUser").prop('disabled', !$('#userTable').bootstrapTable('getSelections').length);
        }
        // save your data, here just save the current page

        // push or splice the selections if you want to save all data selections
    });

    $('#regionTable').on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
        $("#deleteRegion").prop('disabled', !$('#regionTable').bootstrapTable('getSelections').length);
        // save your data, here just save the current page
        selections = getIdSelectionsRegion();
        // push or splice the selections if you want to save all data selections
    });


    $("#editUser").click(function (e) {
        var selectedRow = $('#userTable').bootstrapTable('getSelections')[0]
        $("#editEmail").val(selectedRow.email)
        $("#editFirstName").val(selectedRow.firstName)
        $("#editLastName").val(selectedRow.lastName)
        try {
            $("#editRole option[text=" + selectedRow.role + "]").attr('selected', 'selected');
        } catch (e) {
            console.log(e);
        }
        try {
            $("#editIsEnabled option[text=" + selectedRow.status + "]").attr('selected', 'selected');
        } catch (e) {
            console.log(e);
        }
    })

    $("#editUserSave").click(function (e) {
        var ids = getIdSelections();
        $.ajax({
            type: "post",
            url: "/admin/edit/user",
            data: {
                id: ids[0],
                email: $("#editEmail").val(),
                firstName: $("#editFirstName").val(),
                lastName: $("#editLastName").val(),
                role: $("#editRole").val(),
                isEnabled: $("#editIsEnabled").val(),
                region : $("#editUserRegion").val()
            },
            success: function () {
                $("#editUserModal").modal('hide')
                toastr["success"]("Користувача редаговано");
                $('#userTable').bootstrapTable('refresh');

            },
            error: function () {
                toastr["error"]("Неможливо редагувати користувача");
            }


        })
    })


    $("#addRegionSave").click(function(e) {
        $.ajax({
            type : "post",
            url : "/admin/region/add",
            data : {
                name : $("#inputRegionName").val()
            },
            success : function(data){
                toastr["success"]("регіон успішно додано");
                $('#regionTable').bootstrapTable('refresh');
                $("#addRegionModal").modal('hide')
            },
            error : function (error) {
                toastr["error"]("Неможливо додати регіон");
            }
        })
    })


    $("#addUserSave").click(function (e) {
        $.ajax({
            type: "post",
            url: "/admin/create/user",
            data: {
                email: $("#exampleInputEmail1").val(),
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                password: $("#exampleInputPassword1").val(),
                confirmPassword: $("#confirmPassword1").val(),
                role: $("#role").val(),
            },
            success: function (data) {
                $("#userAddModal").modal('hide')
                toastr["success"]("Користувача додано");
                $('#userTable').bootstrapTable('refresh');
            },
            error: function (data) {
                toastr["error"]("Такий користувач уже існує\n" + data.responseJSON.message);
            }


        })
    })


</script>
</html>