<html>
<head>
    <title>Partofa</title>
    <!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
    <link rel="stylesheet"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>

    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li id="adminTab" style="visibility: hidden"><a class="btn" href="/admin/page/users">Адмін панель</a></li>
                <li id="myPage"><a class="btn" href="private/page/me">Моя сторінка</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="logout"><a href="/logout">Вийти</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">


    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Головна</a></li>
        <li role="presentation"><a href="#archive" role="tab" data-toggle="tab">Архів</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="toolbar">
                <button id="addData" onclick="" class="btn btn-primary" data-toggle="modal" data-target="#dataAddModal">
                    Додати запис
                </button>
                <button id="editData" onclick="" class="btn btn-default" data-toggle="modal" disabled="disabled"
                        data-target="#editDataModal">Редагувати
                </button>
                <button id="deleteData" onclick="" class="btn btn-default" disabled="disabled">Видалити</button>
            </div>
            <table id="dataTable" data-single-select="true" data-toggle="table" data-toolbar="#toolbar"
                   data-locale="uk-UA"
                   data-pagination="true" data-url="/private/home/actualData">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">
                    </th>
                    <th data-field="id" data-visible="false"></th>
                    <th data-sortable="true" data-field="chpId">№</th>
                    <th data-sortable="true" data-field="subjectName">Найменування суб'єкта господарювання</th>
                    <th data-sortable="true" data-field="addressWork">Адреса</th>
                    <th data-sortable="true" data-field="ipnPassport">Код ЄДРПОУ або ІН</th>
                    <th data-sortable="true" data-field="gosWorkType">Вид господарської діяльності</th>
                    <th data-sortable="true" data-field="status">Ступінь ризику</th>
                    <th data-sortable="true" data-field="startDate">Дата початку проведення заходу</th>
                    <th data-sortable="true" data-field="deadlines">Строки проведення заходу</th>
                    <th data-sortable="true" data-field="riscDesc">Підстава призначення ризику</th>
                    <th data-sortable="true" data-field="checkResult">Результат перевірки</th>
                    <th data-sortable="true" data-field="reactMeasure">Вжити заходів реагування</th>
                    <th data-sortable="true" data-field="controlName">Найменуваня органу держ. нагляду</th>
                    <th data-sortable="true" data-field="addDate">Дата внесення до реєстру</th>
                    <th data-sortable="true" data-field="updDate">Дата останнсього реагування</th>
                    <th data-sortable="true" data-field="comment">Коментар</th>
                </tr>
                </thead>
            </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="archive">
            <table id="archiveTable" data-single-select="true" data-toggle="table"
                   data-locale="uk-UA"
                   data-pagination="true" data-url="/private/home/deletedData">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">
                    </th>
                    <th data-field="id" data-visible="false"></th>
                    <th data-sortable="true" data-field="chpId">№</th>
                    <th data-sortable="true" data-field="subjectName">Найменування суб'єкта господарювання</th>
                    <th data-sortable="true" data-field="addressWork">Адреса</th>
                    <th data-sortable="true" data-field="ipnPassport">Код ЄДРПОУ або ІН</th>
                    <th data-sortable="true" data-field="gosWorkType">Вид господарської діяльності</th>
                    <th data-sortable="true" data-field="status">Ступінь ризику</th>
                    <th data-sortable="true" data-field="startDate">Дата початку проведення заходу</th>
                    <th data-sortable="true" data-field="deadlines">Строки проведення заходу</th>
                    <th data-sortable="true" data-field="riscDesc">Підстава призначення ризику</th>
                    <th data-sortable="true" data-field="checkResult">Результат перевірки</th>
                    <th data-sortable="true" data-field="reactMeasure">Вжити заходів реагування</th>
                    <th data-sortable="true" data-field="controlName">Найменуваня органу держ. нагляду</th>
                    <th data-sortable="true" data-field="addDate">Дата внесення до реєстру</th>
                    <th data-sortable="true" data-field="updDate">Дата останнсього реагування</th>
                    <th data-sortable="true" data-field="delDate">Дата видалення</th>
                    <th data-sortable="true" data-field="comment">Коментар</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="dataAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додавання користувача</h4>
            </div>
            <div class="modal-body">
                <form id="createData">
                    <div class="form-group">
                        <label for="addSubjectName">Найменування суб’єкта господарювання</label>
                        <input type="" class="form-control" id="addSubjectName" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="addAdress">Адреса</label>
                        <input class="form-control" id="addAdress" placeholder="Адреса" required="required"/>

                    </div>
                    <div class="form-group">
                        <label for="ipn">Код ЄДРПОУ або ІН</label>
                        <input class="form-control" id="ipn" placeholder="Код ЄДРПОУ або ІН" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="typeD">Вид господарської діяльності</label>
                        <input type="" class="form-control" id="typeD"
                               placeholder="Вид господарської діяльності" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="addRisk">Ступінь риску:</label>
                        <select class="form-control" id="addRisk">
                            <option value="Високий">Високий</option>
                            <option value="Середній">Середній</option>
                            <option value="Низький">Низький</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addRisk">Дата початку проведення заходу:</label>
                        <div class='input-group date' id='startDateP'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addTerm">Ступінь риску:</label>
                        <select class="form-control" id="addTerm">
                            <option value="5 днів">5 днів</option>
                            <option value="15 днів">15 днів</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addControll">Найменування органу держ. нагляду (контролю)</label>
                        <input type="" class="form-control" id="addControll"
                               placeholder="Найменування органу держ. нагляду (контролю)"/>
                    </div>

                    <div class="form-group">
                        <label for="addRskReason">Підстава призначення ступеня ризику</label>
                        <input type="" class="form-control" id="addRskReason"
                               placeholder="Підстава призначення ступеня ризику"/>
                    </div>

                    <div class="form-group">
                        <label for="addResults">Результат перевірки</label>
                        <input type="" class="form-control" id="addResults"
                               placeholder="Результат перевірки"/>
                    </div>
                    <div class="form-group">
                        <label for="addzaxid">Вжити заходів реагування</label>
                        <select class="form-control" id="addzaxid">
                            <option value="суд">суд</option>
                            <option value="штраф">штраф</option>
                        </select>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="addUserSave" class="btn btn-primary">Створити</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script>

    $(function () {
        $('#startDateP').datetimepicker();
    });

    //    $('#myTabs a').click(function (e) {
    //        e.preventDefault()
    //        $(this).tab('show')
    //    })

    (function ($) {
        'use strict';

        $.fn.bootstrapTable.locales['uk-UA'] = {
            formatLoadingMessage: function () {
                return 'Завантаження, будь ласка, зачекайте...';
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' записів на сторінку';
            },
            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return 'Показано з ' + pageFrom + ' по ' + pageTo + '. Всього: ' + totalRows;
            },
            formatSearch: function () {
                return 'Пошук';
            },
            formatNoMatches: function () {
                return 'Не знайдено жодного запису';
            },
            formatRefresh: function () {
                return 'Оновити';
            },
            formatToggle: function () {
                return 'Змінити';
            },
            formatColumns: function () {
                return 'Стовпці';
            }
        };

        $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales['uk-UA']);

    })(jQuery);

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


    $(document).ready(function () {

        $.ajax({
            type: "get",
            url: "/partofa-0.1/private/getCurrentUserRole",
            success: function (data) {
                if (data === "ROLE_ADMIN") {
                    $("#adminTab").css("visibility", "visible");
                }
            }
        })
    });


    $('#dataTable').on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
        $("#deleteData").prop('disabled', !$('#dataTable').bootstrapTable('getSelections').length);
        $("#editData").prop('disabled', !$('#dataTable').bootstrapTable('getSelections').length);
        // save your data, here just save the current page
        selections = getIdSelections();
        // push or splice the selections if you want to save all data selections
    });

    function getIdSelections() {
        return $.map($('#dataTable').bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }


    $("#deleteData").click(function () {
        var ids = getIdSelections();

        $.ajax({
            type: "delete",
            url: "/partofa-0.1private/delete" + '?' + $.param({"id": ids[0]}),
            success: function () {
                toastr["success"]("Дані успішно видалено та перенесено у архів");
                $('#deleteData').bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $("#deleteData").prop('disabled', true);
                $('#dataTable').bootstrapTable('refresh');
                $('#archiveTable').bootstrapTable('refresh');
            },
            error: function () {
                toastr["error"]("Неиожливо видалити цей запис");
            }
        })

    });


    $('#myTable').on('click', '.clickable-row', function (event) {
        $(this).addClass('active').siblings().removeClass('active');
    });


</script>
</html>