<html>
<head>
    <title>Partofa</title>
    <!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-uk-UA.min.js"></script>
    <style>
        .hovereffect {
            width:100%;
            height:100%;
            float:left;
            overflow:hidden;
            position:relative;
            text-align:center;
            cursor:default;
        }

        .hovereffect .overlay {
            width:100%;
            height:100%;
            position:absolute;
            overflow:hidden;
            top:0;
            left:0;
            opacity:0;
            background-color:rgba(0,0,0,0.5);
            -webkit-transition:all .4s ease-in-out;
            transition:all .4s ease-in-out
        }


        .hovereffect a.info {
            text-decoration:none;
            display:inline-block;
            text-transform:uppercase;
            color:#fff;
            border:1px solid #fff;
            background-color:transparent;
            opacity:0;
            filter:alpha(opacity=0);
            -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
            margin:50px 0 0;
            padding:7px 14px;
        }

        .hovereffect a.info:hover {
            box-shadow:0 0 5px #fff;
        }

        .hovereffect:hover img {
            -ms-transform:scale(1.2);
            -webkit-transform:scale(1.2);
            transform:scale(1.2);
        }

        .hovereffect:hover .overlay {
            opacity:1;
            filter:alpha(opacity=100);
        }

        .hovereffect:hover h2,.hovereffect:hover a.info {
            opacity:1;
            filter:alpha(opacity=100);
            -ms-transform:translatey(0);
            -webkit-transform:translatey(0);
            transform:translatey(0);
        }

        .hovereffect:hover a.info {
            -webkit-transition-delay:.2s;
            transition-delay:.2s;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li id="home"><a class="btn" href="/private/page/home">Головна таблиця</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="logout"><a href="/logout">Вийти</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" style="height: 50%">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span id="userFirstName"></span><span> </span><span
                            id="userLastName"></span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="hovereffect" style="">
                                    <img alt="Фотографія користувача" id="myPhoto"
                                         src="/get/photo"
                                         class="img-responsive"/>
                                    <div class="overlay">
                                        <h2></h2>
                                        <a id="openPhotoInput" class="info">Змінити фотографію</a>

                                    </div>
                                </div>
                        </div>

                        <input hidden="hidden" style="visibility: hidden" id="photoUpload" name="photo" type="file"/>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>

                                <tr>
                                    <td>Ім'я:</td>
                                    <td id="myFirstName"></td>
                                </tr>
                                <tr>
                                    <td>Прізвище:</td>
                                    <td id="myLastName"></td>
                                </tr>
                                <tr>
                                    <td>Роль:</td>
                                    <td id="myRole"></td>
                                </tr>
                                <tr>
                                    <td>Регіон:</td>
                                    <td id="myRegion"></td>
                                </tr>
                                <tr>
                                    <td>Електрона пошта:</td>
                                    <td id="myEmail"></td>
                                </tr>
                                <tr>
                                    <td>Статус:</td>
                                    <td id="myStatus"></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="editMyInfo" onclick="" class="btn btn-primary" data-toggle="modal"
                            data-target="#editMyInfoModal">Редагувати інформацію
                    </button>
                    <button id="changePassword" class="btn btn-primary" data-toggle="modal"
                            data-target="#changePasswordModal">Змінтити пароль
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редагування персональних даних</h4>
            </div>

            <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="form-group">
                        <label for="myPassword">Введіть пароль</label>
                        <input type="password" class="form-control" id="myPassword"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="myNewPassword">Введіть новий пароль</label>
                        <input type="password" class="form-control" id="myNewPassword" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="myNewPasswordConfirm">Підтвердіть новий пароль</label>
                        <input type="password" class="form-control" id="myNewPasswordConfirm"
                               required="required"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="changePasswordSave" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editMyInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редагування персональних даних</h4>
            </div>

            <div class="modal-body">
                <form id="editMyInfoForm">
                    <div class="form-group">
                        <label for="editMyFirstName">Ім'я</label>
                        <input type="text" class="form-control" id="editMyFirstName"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editMyLastName">Прізвище</label>
                        <input class="form-control" id="editMyLastName" placeholder="Прізвище" required="required"/>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label for="editMyEmail">Електрона пошта</label>-->
                    <!--<input type="email" class="form-control" id="editMyEmail" placeholder="Електрона пошта"-->
                    <!--required="required"/>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="editMyInfoSave" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>


    function getPhoto(){
        $.ajax({
          type : 'get',
            url : '/get/photo',
            success : function (data) {

              //  $("#myPhoto").attr("src", "/viewimage?id=" + data);
            },
            error : function(data) {
                console.log("can't load image")
            }
        })
    }

    function fillMyData() {
        $.ajax({
            type: 'get',
            url: '/me',
            success: function (data) {
                // $("#myPhoto").attr("src",data.photo);

                $("#myFirstName").text(data.firstName)
                $("#myLastName").text(data.lastName)
                $("#myRole").text(data.role)
                $("#myEmail").text(data.email)
                $("#myRegion").text(data.region)
                $("#myStatus").text(data.status)

                $("#editMyLastName").val(data.lastName)
                $("#editMyFirstName").val(data.firstName)
                $("#editMyEmail").val(data.email)

            },
            error: function (data) {

            }
        })
    }

    (function ($) {
        fillMyData()
      //  getPhoto()
    })(jQuery);


    $("#changePasswordSave").click(function () {
        $.ajax({
            type: 'post',
            url: '/edit/password',
            data: {
                password: $("#myPassword").val(),
                newPassword: $("#myNewPassword").val(),
                newPasswordConfirm: $("#myNewPasswordConfirm").val()
            },
            success: function (data) {
                toastr["success"]("Ваш пароль успішно зміненно");
                $("#changePasswordModal").modal('hide')
            },
            error: function (data) {
                toastr["error"]("Помилка зміни пароля: \n" + data.responseJSON.message);
            }
        })
    })


    $("#editMyInfoSave").click(function () {
        $.ajax({
            type: 'post',
            url: '/edit/me',
            data: {
                lastName: $("#editMyLastName").val(),
                firstName: $("#editMyFirstName").val(),
                // email : $("#editMyEmail").val()
            },
            success: function (data) {
                toastr["success"]("Ваші дані успішно оновлено");
                $("#editMyInfoModal").modal('hide')
                fillMyData()
            },
            error: function (data) {
                toastr["error"]("Помилка редагування: \n" + data.responseJSON.message);
            }

        })
    })

    $("#openPhotoInput").click(function() {
        $("#photoUpload").click();
    })

    $("#photoUpload").on("change", function(evt) {
        debugger
        var $input = $("#photoUpload");


        var formData = new FormData();


        formData.append("photo", $("#photoUpload").prop('files')[0]);



        var request = new XMLHttpRequest();
        request.open("POST", "/private/me/edit/photo");
        request.send(formData);
        if ($("#photoUpload").prop('files')[0].get)  {
            var fr = new FileReader();
            fr.readAsDataURL($("#photoUpload").prop('files')[0]);
            $("#myPhoto").attr("src", fr.result);

    }

    });


    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>

</html>

